
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-success" href="Ludo/Gameboard">Go to ludo gameboard</a>
<p>
    <form action="ludo/newgame" method="post">
        <input type="submit" value="NewGame" />
    </form>
</p>