
html {
    font-size: 14px;
    background-color: #fafafa;
    position: relative;
    min-height: 100%;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        background-color: #fafafa;
    }
}

@media (max-width: 769px){
    html{
        font-size: 18px;
    }
   
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
}
.footer {
  position: absolute;
  bottom: 50px;
  width: 99%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 10px; /* Vertically center the text there */
}


.button {
    background-color: #048633;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
}

input[type=text], select, textarea {
    width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-right: 10px;
}

#indexHeader {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top:30px;
    letter-spacing: 6px;
    margin-bottom:5px;
}

.container{
    width: 70%;
    margin: auto;
}

#HeaderLine {
    color: black;
    border: 1px inset;
    margin-top: 5px;
}

#SubHeader {
    text-align: center;
    padding: 40px;
    padding-top: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 30px;

}

.MenuBox {
    width: 33%;
    float: left;
}

@media (max-width: 750){
    .MenuBox {
        margin: auto;
        float: none;
    }
}


.BoxHeader{
    text-align:center;
    cursor: pointer;
}

.BoxHeader h3{
    width: auto;
}

#CreateLoadAlign{
    text-align:center;
}


.active, .RulesHeader:hover  {
    color: #7db7c6;
    cursor: default;
}

.dropcontent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
.dropcontent p{
    text-align: center;
}

.byLine{
    text-align: center;
}

.newgamecontainer{
    width: 60%;
}

#newgameHeader {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}