@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="button" href="gameboard">Click for gameboard</a>

<form action="newgame" method="post">
    <input class="button" type="submit" value="New Game" />
</form>

