@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-success" href="Ludo/gameboard">Click for gameboard</a>
<p>
    <form action="newgame" method="post">
        <input type="submit" value="NewGame" />
    </form>
</p>
