@{
    ViewData["Title"] = "Index";
}

<div class="container center-block">
    <h1 id="indexHeader" class="latoFont">Hackerman Ludo</h1>

    <hr id="HeaderLine" />
    <h2 id="SubHeader">Create or join a game</h2>

    <div class="MenuBox">
        <h3 class="BoxHeader RulesHeader">Rules</h3>
        <div class="dropcontent">
            <p>Ludo is a strategy board game for two to four players, in which the players race their four tokens from start to finish according to the rolls of a single die.</p>
            <p>The game runs on a web application wich makes it possible for you to play with up to three friends on four different computers simultaneously!</p>
        </div>
    </div>

    <div class="MenuBox">
        <h3 class="BoxHeader RulesHeader">Play</h3>
        <div class="dropcontent">
            <div id="CreateLoadAlign">
                <form action="newgame" method="post">
                    <input class="button" type="submit" value="New Game" />
                </form>
                <form action="listgames" method="get">
                    <input class="button" type="submit" value="Join Game" />
                </form>
            </div>
        </div>
    </div>

    <div class="MenuBox">
        <h3 class="BoxHeader RulesHeader">Created by</h3>
        <div class="dropcontent">
            <p>Victor Ronnerstedt</p>
            <p>Dennis Hammarstrand</p>
            <p>Olof kuken Olsson</p>
            <p>Alexander Glandberger</p>
            <p>Nicolas Hassiakis</p>
            <p>Andreas Stanggren</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div style="text-align:center;vertical-align:bottom">
        <h4>© 2019 Hackerman Studios <a href="https://github.com/orgs/PGBFDH18/teams/hackerman_web_page"><i class="fab fa-github"></i></a></h4>


    </div>
</footer>

<script>
var coll = document.getElementsByClassName("RulesHeader");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
