@model Hackerman_WebbApp.Models.GameList
@{
    ViewData["Title"] = "ListOfGames";
}

<h1>ListOfGames</h1>

@for (int i = 0; i < Model.ListOfAllGames.Length; i++)
{
    <p>@Model.ListOfAllGames[i]</p>
}

    <footer class="footer">
        <div style="text-align:center">
            <h4>© 2019 Hackerman Studios</h4>
        </div>
    </footer>
