@model Hackerman_WebbApp.Models.GameList
@{
    ViewData["Title"] = "ListOfGames";
}

<h1 id="newgameHeader" class="latoFont">List of Games</h1>
<hr id="newgameHeaderLine" />

<div id="listofallgameIDsContainer">
    @for (int i = 0; i < Model.ListOfAllGames.Length; i++)
    {
        <form class="gameForm" method="post" action="joingame">
            <input type="hidden" name="gameId" value="@Model.ListOfAllGames[i]" />
            <label>@Model.ListOfAllGames[i]</label>
            <button class="button" type="submit">Join game</button>
        </form>
    }
</div>

<footer class="footer">
    <div class="byLine">
        <h4>© 2019 Hackerman Studios</h4>
        <p><a href="https://github.com/PGBFDH18/project-3-ludo-web-app-hackerman_web_page">See our github repo here  <i class="fab fa-github"></i></a></p>
    </div>
</footer>
