@model Hackerman_WebbApp.Models.GameList
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer  Localizer

@{
    ViewData["Title"] = "ListOfGames";
}

@await Html.PartialAsync("_SelectLanguagePartial")

<h1 id="newgameHeader" class="latoFont">@Localizer["List of games"]</h1>
<hr id="newgameHeaderLine" />

<div id="listofallgameIDsContainer">
    @for (int i = 0; i < Model.ListOfAllGames.Length; i++)
    {
        <form class="gameForm" method="post" action="joingame">
            <input type="hidden" name="gameId" value="@Model.ListOfAllGames[i]" />
            <label>@Model.ListOfAllGames[i]</label>
            <button class="button" type="submit">@Localizer["Join game"]</button>
        </form>
    }
</div>

