@model Hackerman_WebbApp.Models.Player
@{
    ViewData["Title"] = "Newgame";
}


<h1 class="latoFont">Create a new game</h1>

<div id"numberOfPlayerOption">
    <h3 class="latoFont">Choose amount of players:</h3>
    <select id="playerAmount" onchange="changingInputs(this.value)">
        <option value="" selected disabled hidden>Choose here</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</div>


<form action="addplayer" method="post" id="addPlayerForm">
    <div id="players">

    </div>
    <script>
        function changingInputs(val) {

            //var t = document.getElementById("playerAmount");
            //var finalValue = t.options[t.selectedIndex].value;

            for (var i = 1; i <= val; i++) {
                var h4 = "<h4>Player " + i + " </h4>"
                var id = "<input type='hidden' asp-for='Id' value='" + i + "' />"
                var input = "<input asp-for='Name' type='text' placeholder='Player name' />"
                var select = "<select asp-for='Color'><option value='red'>Red</option><option value='blue'>Blue</option><option value='green'>Green</option><option value='yellow'>Yellow</option></select>"
                var removeButton = "<i class='fas fa-times-circle' style='color: black'</i>"
                $("#players").append(h4, input, select, removeButton)
            }
            removeOptions();
        }

        function removeOptions() {
            
        }
    </script>
 

    <div>
        <input class="button" type="submit" value="Submit players" />
    </div>


</form>