@{
    ViewData["Title"] = "Newgame";
}


<h1 class="latoFont">Create a new game</h1>

<h2 class="latoFont">Gameid: 3257</h2>


<h3 class="latoFont">Choose amount of players:</h3>
<select id="playerAmount" onchange="changingSelect()">
    <option value="" selected disabled hidden>Choose here</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>




<div id="player1NewGame" class="playersInput">
    <h4 class="latoFont">Player 1</h4>
    <input type="text" name="player1" placeholder="player name"><br>
    <select name="player1Color">
        <option selected="selected" value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select>
</div>

<div id="player2NewGame" class="playersInput">
    <h4 class="latoFont">Player 2</h4>
    <input type="text" name="player2" placeholder="player name"><br>
    <select name="player2Color">
        <option value="red">Red</option>
        <option selected="selected" value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select>
</div>

<div id="player3NewGame">
    <h4 class="latoFont">Player 3</h4>
    <input type="text" name="player3" placeholder="player name"><br>
    <select name="player3Color">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option selected="selected" value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select>
</div>

<div id="player4NewGame">
    <h4 class="latoFont">Player 4</h4>
    <input type="text" name="player4" placeholder="player name"><br>
    <select name="player4Color">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option selected="selected" value="yellow">Yellow</option>
    </select>
</div>