@model Hackerman_WebbApp.Models.Player
@{
    ViewData["Title"] = "Newgame";
}

<h1 id="newgameHeader" class="latoFont">Create a new game</h1>
<hr id="newgameHeaderLine" />

@*<div id"numberOfPlayerOption">
        <h3 class="latoFont">Choose amount of players:</h3>
        <select id="playerAmount" onchange="changingInputs(this.value)">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>*@

<div class="newgamecontainer">


    <div class="newgamecontainerLeft">
        <div style="text-align:center">
            <h2 style="text-align:center">Add player</h2>
            <form action="addplayer" method="post">
                <div id="playernameandcolor">
                    <input asp-for="Id" type="hidden" value="1" />
                    <input id="playername" asp-for="Name" type="text" placeholder="Write name" />
                    <select asp-for="Color" id="playercolor">
                        <option value="Red">Red</option>
                        <option value="Blue">Blue</option>
                        <option value="Green">Green</option>
                        <option value="Yellow">Yellow</option>
                    </select>
                </div>
                    <input id="addplayerButton" type="submit" class="button" value="Add player" onclick="addPlayerOnPage()" />
            </form>
        </div>
    </div>

    <div class="newgamecontainerRight">
        <h2 style="text-align:center;">Added Players</h2>
        <div style="text-align:center;">
            <h3 id="p1name">Player1</h3>
            <h3 id="p2name">Player2</h3>
            <h3 id="p3name">Player3</h3>
            <h3 id="p4name">Player4</h3>
        </div>
    </div>

    <div class="newgamecontainerBottom">
        <form action="gameboard">
            <input type="submit" class="button" value="Start Game" />
        </form>
    </div>

</div>

<footer class="footer">
    <div class="byLine">
        <h4>© 2019 Hackerman Studios</h4>
        <p><a href="https://github.com/PGBFDH18/project-3-ludo-web-app-hackerman_web_page">See our github repo here  <i class="fab fa-github"></i></a></p>
    </div>
</footer>

<script>
    var counter = 1;
    @*$('#playercolor option:selected').remove();*@

    function addPlayerOnPage(){
    if (counter = 1){
        var x = document.getElementById("playername").value;
        document.getElementById("p1name").innerHTML = x;
        counter += 1;
        } else if (counter = 2){
        var x = document.getElementById("playername").value;
        document.getElementById("p2name").innerHTML = x;
        counter += 1;
        } else if (counter = 3){
        var x = document.getElementById("playername").value;
        document.getElementById("p3name").innerHTML = x;
        counter += 1;
        } else if (counter = 4){
        var x = document.getElementById("playername").value;
        document.getElementById("p3name").innerHTML = x;
        counter += 1;
        }
    };
</script>

@*<form action="addplayer" method="post" id="addPlayerForm">
        <div id="players">

        </div>
        <script>
            function changingInputs(val) {

                //var t = document.getElementById("playerAmount");
                //var finalValue = t.options[t.selectedIndex].value;

                let element = document.getElementById("players");

                while (element.firstChild) {

                    element.removeChild(element.firstChild);
                }


                for (var i = 1; i <= val; i++) {
                    var h4 = '<h4>Player ' + i + ' </h4>'
                    var id = '<input type="hidden" asp-for="Id" value="' + i + '" />'
                    var input = '<input asp-for="Name" type="text" placeholder="Player name" />'
                    var select = '<select asp-for="Color"><option value="red">Red</option><option value="blue">Blue</option><option value="green">Green</option><option value="yellow">Yellow</option></select>'
                    $("#players").append(h4, id, input, select)
                }
                removeOptions();
            }

            function removeOptions() {

            }
        </script>


        <div>
            <input class="button" type="submit" value="Submit players" />
        </div>


    </form>*@
