@model Hackerman_WebbApp.Models.GameModel
@{
    ViewData["Title"] = "NewGame";
}

<h1 id="newgameHeader" class="latoFont">Create a new game</h1>
<hr id="newgameHeaderLine" />

<div class="newgamecontainer">


    <div class="newgamecontainerLeft">
        <div style="text-align:center">
            <h2 style="text-align:center">Add player</h2>
            <form action="addplayer" method="post" onsubmit="">
                <div id="playernameandcolor">
                    <input asp-for="Player.Id" type="hidden" value="@Model.Player.Id" />
                    <input id="playername" asp-for="Player.Name" type="text" placeholder="Write name" maxlength="15" required pattern="[a-zA-ZäöüßÄÖÜ]+" title="Only letters" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                  
                </div>
                <input id="addplayerButton" type="submit" class="button" value="Add player" />
            </form>
        </div>
    </div>

    <div class="newgamecontainerRight">
        <h2 style="text-align:center;">Added Players</h2>
        <div style="text-align:center;">
            @if (Model.NumberOfPlayers > 0)
            {
                @foreach (var item in Model.PlayerList)
                {
                    <div style="border-color: @item.Color" class="displayplayercontainer">
                        <div class="displayplayername" style="padding-top:4px">@item.Name</div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="newgamecontainerBottom">
        <form action="gameboard">
            <input type="submit" class="button" value="Start Game" onclick="clearCache" />
        </form>
    </div>

</div>

<footer class="footer">
    <div class="byLine">
        <h4>© 2019 Hackerman Studios</h4>
        <p><a href="https://github.com/PGBFDH18/project-3-ludo-web-app-hackerman_web_page">See our github repo here  <i class="fab fa-github"></i></a></p>
    </div>
</footer>

<div>

    @*@functions {

        public void ListOptions()
        {
            List<string> colors = new List<string> { "Red", "Green", "Blue", "Yellow" };

            foreach (var item in colors)
            {
                foreach(var pcolor in Model.PlayerList)
                {
                    if (item == pcolor.Color)
                    {
                        
                    }
                }
            }
        }
    }*@
</div>
