@model Hackerman_WebbApp.Models.GameModel
@{
    ViewData["Title"] = "NewGame";
}

<h1 id="newgameHeader" class="latoFont">Create a new game</h1>
<hr id="newgameHeaderLine" />

<div class="newgamecontainer">


    <div class="newgamecontainerLeft">
        <div style="text-align:center">
            <h2 style="text-align:center">Add player</h2>
            <form action="addplayer" method="post" onsubmit="">
                <div id="playernameandcolor">
                    <input asp-for="Player.Id" type="hidden" value="@Model.Player.Id" />
                    <input id="playername" asp-for="Player.Name" type="text" placeholder="Write name" required pattern="[a-zA-ZäöüßÄÖÜ]+" title="Only letters" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <select asp-for="Player.Color" id="playercolor">
                        <option value="Red">Red</option>
                        <option value="Blue">Blue</option>
                        <option value="Green">Green</option>
                        <option value="Yellow">Yellow</option>
                    </select>
                </div>
                <input id="addplayerButton" type="submit" class="button" value="Add player" onclick="addPlayerOnPage()" />
            </form>
        </div>
    </div>

    <div class="newgamecontainerRight">
        <h2 style="text-align:center;">Added Players</h2>
        <div style="text-align:center;">
            <h3 id="p1name">Player1</h3>
            <h3 id="p2name">Player2</h3>
            <h3 id="p3name">Player3</h3>
            <h3 id="p4name">Player4</h3>
        </div>
    </div>

    <div class="newgamecontainerBottom">
        <form action="gameboard">
            <input type="submit" class="button" value="Start Game" onclick="clearCache" />
        </form>
    </div>

</div>

<footer class="footer">
    <div class="byLine">
        <h4>© 2019 Hackerman Studios</h4>
        <p><a href="https://github.com/PGBFDH18/project-3-ludo-web-app-hackerman_web_page">See our github repo here  <i class="fab fa-github"></i></a></p>
    </div>
</footer>

<script>

    function addPlayerOnPage() {
    var playername = document.getElementById("playername").value;
    var playerid = document.getElementById("Id").value;

    localStorage.setItem("player"+playerid, playername);

}

function showAllPlayersFromStorage() {
    document.getElementById("p1name").innerHTML = localStorage.getItem("player0");
    document.getElementById("p2name").innerHTML = localStorage.getItem("player1");
    document.getElementById("p3name").innerHTML = localStorage.getItem("player2");
    document.getElementById("p4name").innerHTML = localStorage.getItem("player3");
}

    window.onload = showAllPlayersFromStorage();

    function clearCache() {
    window.location.reload(true);   
    }

</script>

